services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend/db.sqlite3:/app/db.sqlite3
      - static_volume:/app/staticfiles
    ports:
      - "8001:8000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    volumes:
      - frontend_build:/frontend_build
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - 82:80
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - frontend_build:/usr/share/nginx/html:ro
      - static_volume:/app/staticfiles:ro
    depends_on:
      - backend
      - frontend
    restart: unless-stopped

volumes:
  static_volume:
  frontend_build:

