@import "tailwindcss";

@theme {
    /** Theme primary colors */
    --color-primary-a0: #895bf5;
    --color-primary-a10: #996df7;
    --color-primary-a20: #a87ff8;
    --color-primary-a30: #b691fa;
    --color-primary-a40: #c3a3fb;
    --color-primary-a50: #d0b5fc;

    /** Theme surface colors */
    --color-surface-a0: #121212;
    --color-surface-a10: #282828;
    --color-surface-a20: #3f3f3f;
    --color-surface-a30: #575757;
    --color-surface-a40: #717171;
    --color-surface-a50: #8b8b8b;

    --animate-fade-in: fade-in-scale 0.3s ease-out;
    @keyframes fade-in-scale {
        0% {
            opacity: 0;
            transform: scale(0.95);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    --animate-fade-out: fade-out-scale 3s ease-out;
    @keyframes fade-out-scale {
        100% {
            opacity: 0;
        }
    }
}

body {background-color: #121212;}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
